<div class="container mt-4">
  
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">User NO .{{user?.id}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Name : {{user?.first_name}}</h6>
          <p class="card-text">Age : {{user?.age}}</p>
          <p class="card-text">Email : {{user?.email}}</p>
         <button
            type="button"
            (click)="back()"
            class="btn btn-sm btn-primary"
          >
            Back
          </button>
        </div>
      </div>
    </div>